@{
    <title>@ViewData["Title"] - Movie App</title>
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

<td>
    <a href="/Movies/Edit/4"> Edit </a> |
    <a href="/Movies/Details/4"> Details </a> |
    <a href="/Movies/Delete/4"> Delete </a>
</td>